{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    <div class="container box">
        <br />
        <h2 style="text-align:center;">WunderFleet Management System</h2><br />

        {{ form_start(form, {'method' : 'POST'}) }}

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active_tab1" style="border:1px solid #ccc" id="list_personal_details">Personal Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_address_details" style="border:1px solid #ccc">Address Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="list_payment_details" style="border:1px solid #ccc">Payment Details</a>
            </li>
        </ul>

        <div class="tab-content" style="margin-top:16px;">

            <div class="tab-pane active" id="personal_details">
                <div class="panel panel-default">
                    <div class="panel-heading">Personal Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.first_name) }}
                            {{ form_widget(form.first_name, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.last_name) }}
                            {{ form_widget(form.last_name, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.phone_number) }}
                            {{ form_widget(form.phone_number, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <button type="button" name="btn_personal_details" id="btn_personal_details" class="btn btn-info btn-lg">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="address_details">
                <div class="panel panel-default">
                    <div class="panel-heading">Address Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.street) }}
                            {{ form_widget(form.street, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.house_number) }}
                            {{ form_widget(form.house_number, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.zip_code) }}
                            {{ form_widget(form.zip_code, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <button type="button" name="previous_btn_address_details" id="previous_btn_address_details" class="btn btn-default btn-lg">Previous</button>
                            <button type="button" name="btn_address_details" id="btn_address_details" class="btn btn-info btn-lg">Next</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="payment_details">
                <div class="panel panel-default">
                    <div class="panel-heading">Payment Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.account_owner) }}
                            {{ form_widget(form.account_owner, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.iban) }}
                            {{ form_widget(form.iban, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <button type="button" name="previous_btn_payment_details" id="previous_btn_payment_details" class="btn btn-default btn-lg">Previous</button>
                            <button type="submit" name="btn_payment_details" id="btn_payment_details" class="btn btn-success btn-lg">Register</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>

        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .box
        {
            width:800px;
            margin:0 auto;
        }
        .active_tab1
        {
            background-color:#fff;
            color:#333;
            font-weight: 600;
        }
        .inactive_tab1
        {
            background-color: #f5f5f5;
            color: #333;
            cursor: not-allowed;
        }
        .has-error
        {
            border-color:#cc0000;
            background-color:#ffff99;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $('#btn_personal_details').click(function() {
            $('#list_address_details').removeClass('active active_tab1');
            $('#list_address_details').removeAttr('href data-toggle');
            $('#personal_details').removeClass('active');
            $('#list_personal_details').addClass('inactive_tab1');
            $('#list_address_details').removeClass('inactive_tab1');
            $('#list_address_details').addClass('active_tab1 active');
            $('#list_address_details').attr('href', '#address_details');
            $('#list_address_details').attr('data-toggle', 'tab');
            $('#address_details').addClass('active in');
        });

        $('#previous_btn_address_details').click(function() {
            $('#list_address_details').removeClass('active active_tab1');
            $('#list_address_details').removeAttr('href data-toggle');
            $('#address_details').removeClass('active in');
            $('#list_address_details').addClass('inactive_tab1');
            $('#list_personal_details').removeClass('inactive_tab1');
            $('#list_personal_details').addClass('active_tab1 active');
            $('#list_personal_details').attr('href', '#personal_details');
            $('#list_personal_details').attr('data-toggle', 'tab');
            $('#personal_details').addClass('active in');
        });

        $('#btn_address_details').click(function() {
            $('#list_address_details').removeClass('active active_tab1');
            $('#list_address_details').removeAttr('href data-toggle');
            $('#address_details').removeClass('active');
            $('#list_address_details').addClass('inactive_tab1');
            $('#list_payment_details').removeClass('inactive_tab1');
            $('#list_payment_details').addClass('active_tab1 active');
            $('#list_payment_details').attr('href', '#payment_details');
            $('#list_payment_details').attr('data-toggle', 'tab');
            $('#payment_details').addClass('active in');
        });

        $('#previous_btn_payment_details').click(function() {
            $('#list_payment_details').removeClass('active active_tab1');
            $('#list_payment_details').removeAttr('href data-toggle');
            $('#payment_details').removeClass('active in');
            $('#list_payment_details').addClass('inactive_tab1');
            $('#list_address_details').removeClass('inactive_tab1');
            $('#list_address_details').addClass('active_tab1 active');
            $('#list_address_details').attr('href', '#address_details');
            $('#list_address_details').attr('data-toggle', 'tab');
            $('#address_details').addClass('active in');
        });

        /*
        $('#btn_payment_details').click(function() {
            $('#btn_payment_details').attr("disabled", "disabled");
            $(document).css('cursor', 'progress');
            $("#register_form").submit();
        });

         */


    </script>
{% endblock %}


