{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<div class="container box">
    <br />
    <h2 style="text-align:center;">Welcome to onboarding on WunderFleet</h2><br />

    <br />
    <h4 style="text-align:center;">Your data is successfully saved!</h4><br />

    <br />
    <h4 style="text-align:center;">PaymentDataId: {{ paymentId }}</h4><br />

</div>
{% endblock %}
